{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New Company{% endblock %}</h1>
<a href="{{ url_for('user_center.company') }}" onclick="return confirm('Are you sure?');">Back</a>
{% endblock %}

{% block content %}
<form method="post">
    <label for="name">Company Name</label>
    <input name="name" id="name" value="{{ request.form['name'] }}" required>
    <label for="desc">Description</label>
    <textarea name="desc" id="desc">{{ request.form['desc'] }}</textarea>
    <input type="submit" value="Save">
</form>

<hr>

{% endblock %}