{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Change Password {% endblock %}</h1>

<a href="{{ url_for('user_center.index') }}" onclick="return confirm('Are you sure?');">Back</a>

{% endblock %}

{% block content %}
<form method="post">
    <h1>User Name : {{user['login_name']}}</h1>
    {% if g.user['job_id']!=0 %}
    <label for="old_password">Old password</label>
    <input name="old_password" id="old_password" type="password" value="" required>
    {% endif %}
    <label for="new_password">New password</label>
    <input name="new_password" id="new_password" type="password" value="" required>
    <input type="submit" value="Save">
</form>
<hr>

{% endblock %}