<!doctype html>
<title>{% block title %}{% endblock %} - Flask</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
    <h1>Post Manage</h1>
    <ul>
        {% if g.user %}
            <div class="dropdown">
                <p class="dropbtn">{{ g.user['login_name'] }}</p>
                <div class="dropdown-content">
                    {% if g.user['job_id']==0 %}
                    <a href="{{ url_for('user_center.index') }}">Manage</a>
                    {% endif %}
                    <a href="{{ url_for('user_center.update_user_password', user_id=g.user['id']) }}">Change Password</a>
                    <a href="{{ url_for('attendance.index') }}">Attendance</a>
                    <a href="{{ url_for('auth.logout') }}">Log Out</a>
                </div>
            </div>
            {% else %}
            <li><a href="{{ url_for('auth.login') }}">Log In</a>
            {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>